<div class="app-portal-monitoring">
  <div class="container-fluid">
    <div class="row header">
      <div class="title pull-left">{{'monitoring.title' | translate}}</div>
      <div class="func-group pull-right">
        <button class="btn btn-monitor" ng-click="setAlert()">
          <img src="images/icon_set.png" width="20" height="19" alt=""> {{'monitoring.setalert' | translate}}
        </button>
        <button class="btn btn-monitor" ng-click="history()">
          <img src="images/icon_history.png" width="28" height="19" alt=""> {{'monitoring.history' | translate}}
        </button>
      </div>
    </div>

    <div class="row card-columns clearfix">

      <!-- START card -->
      <div class="card" ng-repeat="s in thing.status track by s.name" ng-class="{'warn': s.warn}">
        <div class="head">
          <div class="status"></div>
          <div class="attribute"><span>{{s.display}} / {{s.unit}}</span></div>
        </div>
        <div class="body">{{s.value}}</div>
        <div class="foot">
          <!--<div class="icon lower pull-left">{{s.min}}</div>-->
          <div class="icon lower pull-left" ng-if="s.lower">{{s.lower}}</div>
          <div class="foot-line pull-left"></div>
          <!--<div class="icon upper pull-right">{{s.max}}</div>-->
          <div class="icon upper pull-right" ng-if="s.upper">{{s.upper}}</div>
        </div>
      </div>
      <!-- END card -->

    </div>
  </div>
</div>
