@import 'src/app/components/AppShared/scss/global.scss';
.app-portal-monitormanager-viewmanager {
    .sub-title {
        height: 57px;
        line-height: 57px;
        background-color: #fff;
        margin-bottom: 8px;
        font-size: 16px;
        padding-left: 41px;
        @include border-radius(4px 4px 0 0);
        // @include box-shadow(0 0 4px rgba(39, 39, 77, .75));
    }
    textarea {
        resize: none;
    }
}