@import 'src/app/components/AppShared/scss/global.scss';
.app-secure {
    position: absolute;
    cursor: pointer;
    color: #fff;
    background-color: rgba(64, 181, 198, 0.749);
    width: 100%;
    height: 100%;
    .start {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        font-size: 72px;
        width: 320px;
        height: 90px;
        // overflow: hidden;
    }
}