@import 'src/app/components/AppShared/scss/global.scss';
$light-blue: #acd4ef;
$light-green: #42c3ce;
$light-red:#f7a1a7;
$pink: #ff7c73;
.app-portal-monitormanager-view {
    .graph-tile {
        position: relative;
        float: left;
        display: table;
        margin: 10px 20px 50px 0;
        cursor: pointer;
        width: 180px;
        height: 146px;
        border: 2px solid transparent;
        @include border-radius(4px);
        // @include box-shadow(0 0 8px #bebebe);
        &.new {
            border: 2px dashed $light-blue;
            color: $light-blue;
        }
        &.view {
            background-color: $light-green;
            &:hover {
                border-color: $pink;
                .fa-minus-circle {
                    display: block;
                    position: absolute;
                    top: -15px;
                    right: -11px;
                    font-size: 24px;
                    color: $pink;
                }
                .tooltip-desc {
                    display: block;
                    position: fixed;
                    overflow: hidden;
                }
            }
            &.warn {
                background-color: $light-red;
                .desc {
                    color: #fa646e;
                }
            }
            .name {
                color: #fff;
            }
            .desc {
                color: #90f1f9;
            }
            .warnging {
                position: absolute;
                margin: 0;
                right: 14px;
                bottom: 15px;
            }
            .tooltip-desc {
                display: none;
                div {
                    position: relative;
                    margin: 6px;
                    padding: 9px;
                    max-width: 300px;
                    background-color: rgba(240, 246, 250, .9);
                    @include border-radius(4px);
                    @include box-shadow(1px 1px 4px rgba(15, 50, 75, .35));
                    &:before {
                        content: ' ';
                        position: absolute;
                        top: -6px;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 0 5.5px 6px 5.5px;
                        border-color: transparent transparent rgba(240, 246, 250, .9) transparent;
                    }
                }
            }
        }
        .fa-minus-circle {
            display: none;
        }
        .graph-content {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            img {
                margin-bottom: 7px;
            }
            .name {
                font-size: 16px;
            }
            .desc {
                font-size: 12px;
            }
        }
        .fa-plus {
            font-size: 39px;
            color: $light-blue;
        }
    }
    .tooltip {
        margin-bottom: 120px;
        .tooltip-arrow {
            border-bottom-color: rgba(206, 231, 245, 0.7);
            @include box-shadow(0 0 8px #cee7f5);
        }
        .tooltip-inner {
            color: #6594b5;
            background-color: rgba(240, 245, 249, 0.7);
            @include box-shadow(0 0 8px #cee7f5);
        }
    }
}