View
<div class="app-portal-monitormanager-view" ng-init="init()">
  <div class="tile-wrap clearfix">
    <!-- start tile  -->
    <div class="graph-tile new" ui-sref="^.New">
      <div class="graph-content">
        <div class="fa fa-plus" aria-hidden="true"></div>
        <div>{{'monitorManager.addChannel' | translate}}</div>
      </div>
    </div>
    <div class="graph-tile view" ng-class="{'warn':v.warn}" ng-repeat="v in views track by v.id" ng-mousemove="mousemove($event, v)">
      <i class="fa fa-minus-circle" aria-hidden="true" ng-click="delete($index, v)"></i>
      <div class="graph-content" ng-click="monitoring(v)">
        <img src="images/icon_monitoring_view.png" alt="" ng-if="!v.warn">
        <img src="images/icon_monitoring_view_warn.png" alt="" ng-if="v.warn">
        <div class="name">{{v.name}}</div>
        <div class="desc">{{'monitorManager.deviceNumber' | translate}}: {{v.count}}</div>
        <img src="images/icon_warning.png" height="18" weight="18" alt="" class="warnging" ng-if="v.warn">
        <div id="v_{{v.id}}" class="tooltip-desc" ng-if="v.desc">
          <div>{{v.desc}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <!-- end tile  -->
</div>