<i class="fa fa-times" aria-hidden="true" ng-click="close()"></i>

<div class="modal-header">
  <h3 class="modal-title">{{'monitoring.setalert' | translate}}</h3>
</div>

<div class="modal-body">
  <div class="head clearfix">
    <div class="clearfix">
      <div class="title status-blue pull-left">{{'monitoring.lowerLimit' | translate}}</div>
      <div class="title center pull-left">{{'monitoring.statusField' | translate}}</div>
      <div class="title right status-orange pull-left">{{'monitoring.upperLimit' | translate}}</div>
    </div>
    <div class="line"></div>
  </div>

  <div ng-repeat="s in status track by s.name" class="rule clearfix">
    <input type="number" class="status-blue pull-left" ng-model="s.upper">
    <div class="name pull-left">{{s.display}} <i class="fa fa-info-circle" aria-hidden="true" uib-tooltip="{{'monitoring.range' | translate:{min: s.min, max: s.max} }}"></i></div>
    <input type="number" class="status-orange pull-left" ng-model="s.lower">
    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="reset(s)"></i>
    <!--<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>-->
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-orange" ng-click="update()">{{'controls.save' | translate}}</button>
</div>