<i class="fa fa-times" aria-hidden="true" ng-click="close()"></i>

<div class="modal-header">
  <h3 class="modal-title">{{'monitoring.setalert' | translate}}</h3>
</div>

<div class="modal-body">
  <div class="head clearfix">
    <div class="clearfix">
      <div class="title lower pull-left">{{'monitoring.lowerLimit' | translate}}</div>
      <div class="title pull-left">{{'monitoring.statusField' | translate}}</div>
      <div class="title upper pull-left">{{'monitoring.upperLimit' | translate}}</div>
    </div>
    <div class="line"></div>
  </div>

  <div ng-repeat="s in status track by s.name" class="rule clearfix">
    <input type="number" class="lower pull-left" ng-model="s.lower">
    <div class="pull-left">{{s.display}}</div>
    <input type="number" class="upper pull-left" ng-model="s.upper">
    <i class="fa fa-minus-circle fa-2x" aria-hidden="true" ng-click="reset(s)"></i>
    <!--<i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>-->
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-orange" ng-click="update()">{{'controls.save' | translate}}</button>
</div>