reporting{
  .gridster-mobile{
    .gridster-item{
      height: 300px;
    }
  }
  .gridster{
    margin-left: -10px;
    margin-right: -10px;
    .gridster-item{
      overflow: hidden;
      box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
      border-radius: 2px;
      .gridster-item-resizable-handler handle-se{
        display: none !important;
      }
      .panel{
        margin-bottom: 0px;
        height: 100%;
        background: rgba(255,255,255, 0.7);
        .panel-heading{
          transition: all 0.3s;
          margin-top: -41px;
          position: relative;
          z-index: 2;
          .fa{
            cursor: pointer;
            &.fa-edit{
              position: absolute;
              right: 40px;
              top: 15px;
            }
            &.fa-trash{
              position: absolute;
              right: 15px;
              top: 15px;
            }
          }
          
        }
        .panel-body{
          transition: all 0.3s;
          overflow: auto;
          height: 100%;
          margin-top: 0px;
          position: relative;
          z-index: 1;
          .grid-content{
            overflow: hidden;
            height: 100%;
            title{
              display: block;
              text-align: center;
              font-size: 12px;
              position: absolute;
              right: 10px;
              top: 10px;
              border-radius: 22px;
              background: #999;
              padding: 3px 6px;
              color: #fff;
              font-weight: bold;
              font-family: -webkit-pictograph;
            }
            kii-chart{
              height: 120% !important;
              width: 110% !important;
              margin-top: -30px;
              margin-left: -3%;
            }
          }
        }
      }
    }
  }
  .location-tag{
    margin-right: 10px;
    margin-bottom: 5px;
    .fa-remove{
      display: none;
    }
    &:hover{
      .fa-remove{
        display: inline-block;
      }
    }
  }
}