@import 'src/app/components/AppShared/scss/global.scss';
.app-portal-monitormanager-monitoring {
    .header {
        height: 60px;
        line-height: 60px;
        background-color: #fff;
        margin-bottom: 24px;
        .title {
            margin-left: 35px;
            font-size: 17px;
        }
        .func-group {
            margin-top: 10px;
            height: 40px;
            line-height: 40px;
            border-left: 1px solid #f0f0f6;
            .btn-link {
                &.history {
                    color: #219be5;
                }
                &.edit {
                    color: #fba141;
                }
            }
        }
    }
    .card {
        float: left;
        position: relative;
        margin: 10px;
        padding: 8px;
        width: 275px;
        background-color: #fbfbfb;
        @include border-radius(2px 1px 1px 2px/2px);
        @include box-shadow(0 0 4px rgba(39, 39, 77, .75));
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            float: left;
            width: 100%;
            border-top: 50px solid #61c9d2;
            border-left: 25px solid transparent;
            border-right: 25px solid transparent;
        }
        &.off {
            background-color: #f1f7fb;
            &:before {
                border-top-color: #878d96;
            }
            .light {
                background-color: #878d96;
            }
        }
        &.warn {
            @include box-shadow(0 0 4px #f99798);
            &:before {
                border-top-color: #f85255;
            }
            .light {
                background-color: #f06067;
            }
        }
        .power {
            position: absolute;
        }
        .light {
            width: 12px;
            height: 12px;
            background-color: #61c9d2;
            @include border-radius(50%);
        }
        .card-head {
            .name {
                position: relative;
                text-align: center;
                margin-top: 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: 256px;
                padding: 0 18px;
                font-size: 18px;
                color: #fff;
            }
        }
        .card-body {
            min-height: 90px;
            width: 261px;
            /*margin-top: 28px;*/
            margin-bottom: 20px;
            padding: 10px 14px;
            .alert-wrap {
                height: 28px;
                line-height: 28px;
                margin-bottom: 8px;
                >* {
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
            .state-wrap {
                // margin-bottom: 7px;
                line-height: 29px;
                span {
                    font-size: 12px;
                    color: #878d96;
                }
                .value {
                    margin-right: 8px;
                    margin-bottom: 8px;
                    font-size: 18px;
                    color: #354047;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #e1edf5;
                }
            }
        }
        .type {
            position: absolute;
            bottom: 8px;
        }
        .icon {
            position: absolute;
            bottom: 8px;
            right: 8px;
        }
        .icon-link {
            position: relative;
            margin: 0 auto;
            width: 24px;
            height: 11px;
            &:before {
                position: absolute;
                left: 4px;
                content: ' ';
                width: 10px;
                height: 11px;
                border: 3px solid #fff;
                border-radius: 50% 0 0 50%;
                border-right: none;
            }
            &:after {
                position: absolute;
                left: 20px;
                content: ' ';
                width: 10px;
                height: 11px;
                border: 3px solid #fff;
                border-radius: 0 50% 50% 0;
                border-left: none;
            }
            .bar {
                position: absolute;
                top: 4px;
                left: 12px;
                border-top: 3px solid #fff;
                width: 10px;
            }
            .stop {
                position: absolute;
                top: 4px;
                left: 7px;
                z-index: 1;
                width: 20px;
                border-top: 3px solid #878d96;
                -ms-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
        .warn-icon {
            display: none;
        }
    }
}

.app-portal-monitormanager-setalert {
    .condition {
        margin-left: 10px;
    }
    .icon {
        &.add {
            display: block;
            cursor: pointer;
            margin-top: 30px;
            margin-left: 15px;
            height: 15px;
            width: 15px;
            background-image: url('../../../../../../images/icon_add.png');
            &.normal {
                margin-top: 8.5px;
                margin-left: 0;
                background-position: 0 -15px;
                &:hover {
                    background-position: 0 -30px;
                }
            }
        }
    }
    ul.rule-list {
        list-style-type: none;
        padding: 0;
        li {
            margin-top: 10px;
            height: 32px;
            line-height: 32px;
            color: #61c9d2;
            @include border-radius(3px);
            >.pull-left {
                width: 240px;
                padding-left: 10px;
                background-color: #d8f3f5;
            }
        }
    }
}