<div class="app-portal-monitormanager-monitoring">
  <div class="container-fluid">
    <div class="row header">
      <div class="title pull-left">{{'monitorManager.monitoring.title' | translate}}</div>
      <div class="func-group pull-right">
        <a class="btn btn-link history" ui-sref="^.History({ id: view.id })"><img src="images/icon_history.png" width="14" height="14" alt=""> {{'monitorManager.alert.history' | translate}}</a>
        <button class="btn btn-link edit" ng-click="modify()"><i class="fa fa-pencil" aria-hidden="true"></i> {{'controls.edit' | translate}}</button>
      </div>
    </div>

    <div class="card-columns">

      <!-- START card -->
      <div class="card" ng-class="{'off': o.off, 'warn': !o.off && o.warn }" ng-repeat="o in view.detail track by o.id">
        <div class="card-head">
          <div class="icon-link">
            <div class="bar"></div>
            <div class="stop" ng-if="o.off"></div>
          </div>
          <div class="name">{{o.vendorThingID}}</div>
        </div>
        <div class="card-body">
          <div class="alert-wrap">
            <button class="btn btn-link edit pull-right" ng-click="setAlert(o)"><img src="images/icon_history.png" width="14" height="14" alt=""> {{'monitorManager.alert.setAlert' | translate}}</button>
          </div>
          <div class="state-wrap clear" ng-repeat="s in o.status">
            <span class="state">{{s.displayName}}：</span><span class="value">{{displayValue(s)}}</span>
            <div class="pull-right">
              <img class="warn-icon" src="images/icon_warning-o.png" width="15" height="15" alt="">
              <span>{{s.expression | operator}}{{s.ruleValue}}</span>
            </div>
          </div>
        </div>
        <div class="type">{{o.typeDisplayName}} | {{o.vendorThingID | locTag}}</div>
        <div class="icon">
          <img src="images/icon_monitoring_on.png" width="69" height="25" alt="" ng-if="!o.off">
          <img src="images/icon_monitoring_off.png" width="69" height="25" alt="" ng-if="o.off">
        </div>
      </div>
      <!-- END card -->

    </div>
  </div>
</div>


<script type="text/ng-template" id="app-portal-monitormanager-setalert">
  <div class="app-portal-monitormanager-setalert">
    <i class="fa fa-times" aria-hidden="true" ng-click="close()"></i>
    <div class="modal-header">
      <h3 class="modal-title">{{'monitorManager.alert.setAlert' | translate}}</h3>
    </div>
    <div class="modal-body">
      <div class="clearfix">
        <div class="rule pull-left">
          <div>{{'monitorManager.alert.alertOption' | translate}}</div>
          <div class="btn-group" uib-dropdown is-open="status.isopen">
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              {{property.displayName | translate}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem" ng-repeat="p in properties"><a ng-click="$parent.property=p">{{p.displayName | translate}}</a></li>
            </ul>
          </div>
        </div>
        <div class="condition pull-left">

          <!-- not enum -->
          <div ng-if="!property.enumType && (property.type=='int' || property.type=='float')">
            <div>{{property.displayName}} <span class="fa fa-info-circle" ng-if="property.tooltip" uib-tooltip="{{property.tooltip}}"></span></div>
            <condition-input property="property" min="property.minimum" max="property.maximum" type="property.type" condition="property.condition"></condition-input>
          </div>

          <!-- enmu: boolean -->
          <div ng-if="property.enumType == 'BOOLEAN' || property.type=='boolean'">
            <div>{{property.displayName}}</div>
            <div switchery="property.value" options="property.options"></div>
          </div>

          <!-- enmu: number -->
          <div ng-if="property.enumType == 'NUMBER'">
            <div>{{property.displayName}}</div>
            <div app-select options="property.options" selected-model="property.value" value-only="true"></div>
          </div>

        </div>

        <div class="condition pull-right">
          <span class="icon add" ng-click="add(property)"></span>
        </div>
      </div>

      <div>
        <ul class="rule-list">
          <li ng-repeat="rule in thing._alert.rules">
            <!-- not enum -->
            <div class="pull-left" ng-if="!rule.enumType && (rule.type=='int' || rule.type=='float')">
              {{rule.displayName}} {{rule.expression | operator}} {{rule.displayValue}}
            </div>

            <!-- enmu: boolean -->
            <div class="pull-left" ng-if="rule.enumType == 'BOOLEAN' || rule.type=='boolean'">
              {{rule.displayName}} = {{rule.displayValue}}
            </div>

            <!-- enmu: number -->
            <div class="pull-left" ng-if="rule.enumType == 'NUMBER'">
              {{rule.displayName}} = {{rule.displayValue}}
            </div>

            <div class="pull-right">
              <span class="icon add normal" ng-click="delete(rule, $index)"></span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning btn-lg pull-center" ng-click="save()">{{'controls.create' | translate}}</button>
    </div>
  </div>
</script>