@import 'src/app/components/AppShared/scss/global.scss';
.app-portal {
    position: relative;
    min-height: 100%;
    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #fff;
        background: url(../../../images/bg_cloud.png) no-repeat;
        background-size: 100% 100%;
        will-change: transform;
        z-index: 0;
    }
    .logo-title {
        margin-top: 25px;
        text-align: center;
        font-size: 26px;
        color: #e3faff;
        text-shadow: 0.5px 0.866px 1px #71c4d2;
    }
    aside.left-side {
        overflow: visible;
        background: rgba(64, 181, 198, .749);
        border-right: 1px solid rgba(163, 216, 230, .5);
        padding-top: 0;
        .user-panel {
            >.image {
                width: 76px;
                height: 76px;
                line-height: 70px;
                margin: 0 auto;
                text-align: center;
                background-color: #fff;
                border: 2px solid #5283a7;
                >img {
                    border: none;
                }
            }
            >.info {
                margin-top: 12px;
                text-align: center;
                color: #e8e5d2;
                font-size: 18px;
                &::before {
                    content: ' ';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    background-color: #a6e05a;
                    @include border-radius(50%);
                }
            }
        }
        .sidebar {
            border: none;
        }
        .sidebar-menu {
            font-size: 18px;
            li {
                border: none !important;
                a {
                    border: none;
                    &:hover {
                        background-color: #009ab3;
                    }
                }
                &.active {
                    a {
                        position: relative;
                        background-color: #009ab3;
                        border-right: 2px solid #ff9556;
                        &::after {
                            position: absolute;
                            content: ' ';
                            display: block;
                            width: 2px;
                            height: 100%;
                            top: 0;
                            right: -4px;
                            background-color: #ff9556;
                        }
                    }
                }
            }
        }
    }
    aside.right-side {
        .notice {
            position: relative;
            visibility: hidden;
            padding-left: 30px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            color: #fff;
            background-color: #ff5252;
            &.active {
                visibility: visible;
            }
        }
    }
    .portal-content-body {
        position: relative;
    }
    .module-description {
        color: #ccc;
        text-indent: 10px;
        font-size: 13px;
    }
    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: -15px;
        margin-left: -15px;
    }
    .margin-left {
        margin-left: 10px;
    }
    .margin-right {
        margin-right: 10px;
    }
    /* ---------------------------- output item style --------------*/
    .modules-outputs-content {
        float: left;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ddd;
        width: 300px;
        height: 270px;
        margin: 10px 20px 0 0;
        border-radius: 4px;
        cursor: pointer;
        @include box-shadow(0 0 8px #bebebe);
        &:hover .overlay {
            opacity: 0.7;
        }
        &:hover .moduleDetails {
            height: 93px;
        }
        &:hover .modulesActionBottom {
            display: block;
        }
        &:hover .modulesActionsTop {
            display: block;
        }
        &:hover .outputs-content-img {
            height: 175px;
            img {
                margin-top: -5px;
            }
        }
        &:hover .module-top {
            height: 175px;
        }
        .module-top {
            height: 200px;
            @include transition(height 0.2s);
            overflow: hidden;
        }
        .outputs-content-img {
            display: table;
            width: 100%;
            height: 200px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: 50%;
            overflow-y: hidden;
            @include transition(height 0.2s);
            margin-top: -200px;
            padding-top: 20px;
            div {
                display: table-cell;
                height: 100%;
                vertical-align: middle;
                text-align: center;
            }
            img {
                width: 45%;
                display: block;
                margin: 15px auto;
                margin-top: 0px;
                @include transition(margin 0.2s);
            }
            &.no-background {
                padding-top: 0px;
            }
            &.no-background img {
                width: 85%;
                margin-top: 0px;
            }
        }
        .per-info {
            display: table;
            width: 100%;
            padding: 0 3%;
            border-top: 1px solid #E5E5E5;
        }
        .info {
            position: relative;
            font-weight: bold;
            z-index: 1;
            font-size: 15px;
            word-wrap: break-word;
            text-align: center;
            height: 60px;
            margin: 20px 0;
            display: table-cell;
            vertical-align: middle;
        }
        .info div {
            width: 200px;
            margin: 0px auto;
            max-height: 60px;
            overflow: hidden;
        }
        .setting-icon {
            position: relative;
            float: right;
            margin-top: 8px;
        }
        .desc-icon {
            margin: 3px 10px 0 0;
            cursor: pointer;
        }
        .options-button {
            color: #303030;
            text-decoration: none;
        }
        .lock-report {
            z-index: 100;
            position: absolute;
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            font-size: 20px;
            border-top-left-radius: 4px;
            border-bottom-right-radius: 4px;
            background-color: #e33e25;
        }
        .overlay {
            position: block;
            top: 0;
            left: 0;
            background: #000;
            opacity: 0;
            width: 298px;
            height: 200px;
            padding: 15px 15px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            text-align: center;
            z-index: 1;
            @include transition(height 0.2s);
        }
        .modulesActionsTop {
            position: relative;
            display: none;
            z-index: 2;
            top: -255px;
            left: 240px;
            color: #bbb;
            i {
                margin-right: 10px;
                font-size: 16px;
                &:hover {
                    color: #fff;
                }
            }
        }
        .modulesActionBottom {
            display: none;
            color: #bbb;
            padding-left: 10px;
            margin-top: -10px;
            width: 100%;
            i {
                margin-right: 10px;
                &:hover {
                    color: #000;
                }
            }
            .item {
                color: #ccc;
                display: inline-block;
                border: 1px solid #ccc;
                line-height: 28px;
                height: 32px;
                border-radius: 3px;
                cursor: pointer;
                margin-right: 5px;
                padding: 0px;
                @include transition(height 0.2s, background 0.2s);
                padding-left: 8px;
                float: left;
                position: relative;
                font-size: 15px;
                &.action-button:hover {
                    background: #e33e25;
                    border-color: #e33e25;
                }
                &.duplicate:hover {
                    background: #29a6ba;
                    border-color: #29a6ba;
                }
                &.description {
                    float: right;
                    margin-right: 10px;
                }
                &.description:hover {
                    background: #29a6ba;
                    border-color: #29a6ba;
                    width: 32px;
                    text-align: center;
                }
                span:first-child {
                    margin-right: 0px;
                }
                &:hover {
                    color: #fff;
                    padding: 0px 8px;
                    text-align: left;
                    .item-text {
                        width: 56px;
                    }
                }
                .item-text {
                    display: block;
                    float: right;
                    font-size: 13px;
                    text-transform: uppercase;
                    font-weight: bold;
                    width: 0px;
                    overflow: hidden;
                    @include transition(width 0.2s);
                    margin-left: 7px;
                }
            }
            i {
                cursor: pointer;
            }
        }
        .moduleDetails {
            z-index: 2;
            width: 298px;
            height: 68px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
            @include transition(height 0.2s);
            background-color: #fff;
            cursor: default;
            overflow: hidden;
        }
        .viewReport {
            color: #fff;
            border: 1px solid #fff;
            padding: 5px 0;
            border-radius: 4px;
            margin: 60px 0 0 54px;
            width: 175px;
            font-size: 14px;
            @include transition(height 0.2s);
            background: rgba(255, 255, 255, .05);
            &:hover {
                background: rgba(0, 0, 0, 0.9);
            }
        }
        .item i {
            margin-right: 0;
            padding: 6px;
        }
        .item-text {
            display: none;
            color: #fff;
        }
        div.popover {
            word-break: break-word;
        }
    }
    /* ------------------------------end of item style ---------------*/
}