<i class="fa fa-times" aria-hidden="true" ng-click="close()"></i>

<div class="modal-header">
  <h3 class="modal-title">{{'monitoring.history' | translate}}</h3>
</div>

<div class="modal-body" ng-init="init()">
  <div class="head clearfix">
    <div class="clearfix">
      <div class="title status-blue pull-left">{{'monitoring.statusField' | translate}}</div>
      <div class="title status-orange center pull-left">{{'monitoring.statusValue' | translate}}</div>
      <div class="title right pull-left">{{'monitoring.alertTime' | translate}}</div>
    </div>
    <div class="line"></div>
  </div>

  <div class="notice">
    <ul>
      <li class="clearfix" ng-repeat="n in notices track by $index" ng-click="collapse(n, $index)" ng-class="{'pointer': n.status.length > 1}">
        <div class="clearfix">
          <div class="title status-blue pull-left"><i class="fa fa-caret-down" aria-hidden="true" ng-if="n.status.length > 1"></i> {{n.status[0].display}}</div>
          <div class="title status-orange center pull-left">{{n.status[0].value}}</div>
          <div class="title right pull-left">{{n.date | date:"yyyy-MM-dd hh:mm" }}</div>
        </div>
        <div class="collapse" uib-collapse="!n.isCollapsed" ng-if="n.status.length > 1" style="height:0">
          <div class="clearfix" ng-repeat="s in n.status track by s.name" ng-if="$index !== 0">
            <div class="title status-blue collapse-name pull-left">{{s.display}}</div>
            <div class="title status-orange center pull-left">{{s.value}}</div>
            <div class="title pull-left"></div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="modal-footer">
  <div class="pagination">
    <ul uib-pagination ng-if="count > 10" total-items="count" ng-model="currentPage" ng-change="pageChanged(currentPage)" max-size="3" force-ellipses="true" template-url="pagination.tmp.html"></ul>
  </div>
</div>

<script type="text/ng-template" id="pagination.tmp.html">
  <ul class="custom-pagination">
    <!--<li ng-if="::boundaryLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-first"><a href ng-click="selectPage(1, $event)">{{::getText('first')}}</a></li>-->
    <li ng-if="::directionLinks" ng-class="{disabled: noPrevious()||ngDisabled}" class="pagination-prev"><a href ng-click="selectPage(page - 1, $event)"><i class="fa fa-chevron-circle-left fa-2x" aria-hidden="true"></i></a></li>
    <li ng-repeat="page in pages track by $index" ng-class="{active: page.active,disabled: ngDisabled&&!page.active}" class="pagination-page"><a href ng-click="selectPage(page.number, $event)">{{page.text}}</a></li>
    <li ng-if="::directionLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-next"><a href ng-click="selectPage(page + 1, $event)"><i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i></a></li>
    <!--<li ng-if="::boundaryLinks" ng-class="{disabled: noNext()||ngDisabled}" class="pagination-last"><a href ng-click="selectPage(totalPages, $event)">{{::getText('last')}}</a></li>-->
  </ul>
</script>
